.content {
  margin-top: 75px;
}

.gallery-image-container {
  display: inline-block;
  margin: 4vh 0 0 4vw;

  .gallery-image {
    max-width: 28vw;
    max-height: auto;
    transition: transform 2s ease-in-out;
    border-radius: 1em;
    box-shadow: #3d3d3d 0px 7px 29px 0px;
    cursor: pointer;
  }
  .gallery-image:hover {
    transform: scale(1.1);
  }
}

/* TODO media query for mobile and tablet view*/
