{% extends "./base.html" %}
{% load static %}
{% block content %}
<div class="content">
    <script src="https://js.stripe.com/v3/"></script>
    <div class = "booking-product-container">
        <div class="booking-product">
            <button id="checkout-button">Foglalás</button>
            {% for product in products %}
            <p>{{ product.price }}</p>
            {% endfor %}
        </div>
        <div class="booking-product">
            <form action="{{charge.hosted_url}}" method="get">
                <button type="submit">Pay with cryptocurrency</button>
            </form>
            <p>{{charge.name}}</p>
        </div>
    </div>
    <div>
        <button id="show-form">Show form</button>
    </div>
    <div id = "form-container">
        <div id="booking-form">
            <form action="." method="POST">{% csrf_token %}
                {{ booking_form.as_p }}
                <button class="submit">Submit</button>
            </form>
        </div>
    </div>
    <script src="{% static 'javascript/modules/stripe.js' %}?{% now ' u'='' %}"></script>
    <script src="{% static 'javascript/modules/show_booking_form.js' %}?{% now ' u'='' %}"></script>
</div>
{% endblock content %}