{% extends "./base.html" %}
{% block content %}
<div class="content">
  {% block slideshow %}
  {% include "../components/slideshow.html" %}
  {% endblock slideshow %}
  <div class="section">
    <h1 class="section-title">
      Lorem
    </h1>
    <p class="section-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia cumque quam modi libero quis est possimus! Magnam dolore, iure nesciunt error neque praesentium hic impedit doloremque, vitae maxime culpa voluptas!
      Officiis molestias maxime facere? Maiores error reprehenderit ut cum. Eligendi tenetur harum corrupti velit autem totam vel, praesentium deserunt modi! Expedita tempore rem hic fugit quisquam earum vero ad consequuntur.
      Cupiditate, natus? Eligendi suscipit ipsa quam placeat totam magni possimus, deleniti laborum veritatis reiciendis quas, animi est earum odit esse saepe consequuntur iure odio? Voluptatibus aperiam consequuntur nisi facilis rem.
      Iste voluptate perspiciatis cum dolorem labore quasi assumenda accusamus magni numquam ea quod omnis, laboriosam praesentium, harum quae dolor porro deserunt aliquam ullam animi dolores voluptates! Fuga maiores incidunt commodi.
      Laboriosam tenetur, laborum sed nam nostrum at sint maxime repudiandae laudantium ab sapiente veritatis optio repellendus! Ipsa deserunt cupiditate, vitae dolorum architecto molestiae doloribus atque provident, iusto maxime earum ex?
      Ipsam accusamus nesciunt voluptate mollitia alias fuga magnam quisquam consequuntur, veniam accusantium! Ducimus quia, sunt cupiditate sed placeat quos optio dolorem labore repellendus magni nisi sequi expedita reiciendis officiis aliquam!
      Dolore illum odio, ullam distinctio fuga nostrum blanditiis minus praesentium, itaque esse quaerat laboriosam debitis reiciendis reprehenderit provident rem quos architecto fugiat quis? Dolorem alias aspernatur possimus vero rerum rem.
      Dignissimos magnam eius esse reiciendis nam itaque aliquid cupiditate! Excepturi a laboriosam quod? Dolore voluptatibus aliquid quis ullam maxime, non perspiciatis delectus cumque culpa modi, omnis nobis, error repudiandae libero.
      Praesentium cum perspiciatis pariatur esse officiis adipisci culpa. Vitae debitis eaque perferendis! Nisi consequuntur necessitatibus qui totam soluta voluptatum nesciunt, ratione doloremque aliquid dolorum blanditiis ducimus dolore quas, velit quasi.
      Dolor sapiente, doloribus a eum aperiam, dicta, incidunt nemo nisi voluptates autem est qui fuga? Ratione fugit aliquid saepe, tempora nam eum, dolores placeat natus distinctio sapiente odio officiis? Unde.
      Eveniet officiis pariatur atque ex delectus earum at vel inventore eligendi, molestiae quod a reprehenderit mollitia fugit nostrum ducimus quibusdam dolores sint culpa sed odio quaerat. Culpa ratione ea est.
      Iste, inventore! Amet commodi cum facilis fugiat autem ipsa laboriosam praesentium at nobis. Non quaerat ipsum rerum ab eaque provident incidunt, exercitationem adipisci ipsam sequi excepturi error amet. Quo, voluptatem.
      Quasi quis cum delectus ipsa et odit architecto eaque numquam ipsum repellendus necessitatibus aspernatur repudiandae natus nihil error libero, quod ea, magnam beatae placeat eum laboriosam? Ab magni incidunt corrupti?
      Nemo sint adipisci, ea eveniet necessitatibus distinctio consequatur obcaecati modi, earum iusto autem animi soluta reiciendis ipsa, ipsum laboriosam minus ab sit nulla eum libero dolor blanditiis tempore at? Cupiditate?
      Impedit consequuntur maxime quas? Fugiat exercitationem laborum qui tempore nulla ipsa aliquid quod quam debitis illo molestias, ab sapiente odio accusamus magni dolores voluptatem eos! Doloremque atque sed veniam voluptate!
      Est sed, quam tenetur eos nostrum accusantium rerum delectus omnis nam eaque eligendi quis odit quasi reiciendis molestias, atque animi qui voluptates dolorum pariatur praesentium. Ipsam eos impedit maiores amet.
      Corporis laboriosam autem maxime ratione aut et sapiente ducimus provident voluptates culpa eveniet nam minus aliquam cumque molestias voluptatum, eius, quos, repudiandae tempora illum commodi quasi doloremque? Amet, expedita quia?
      Assumenda explicabo culpa sint ea a odio saepe, quidem natus inventore nesciunt ipsa soluta quibusdam adipisci, necessitatibus repudiandae ducimus vero. Odio tempore dolores rerum ratione reprehenderit laudantium mollitia, eum maxime?
      Debitis, obcaecati. Facilis accusantium quae maiores saepe recusandae dolorem doloribus corrupti eligendi aliquam, tempore neque modi debitis rem laborum fugiat perferendis aperiam laudantium vero itaque sapiente! Quidem vitae ad amet?
      Dolore repellendus impedit autem libero delectus sed, non a voluptate ipsum expedita ipsam, sit distinctio culpa consequuntur laborum illum quia, reprehenderit facere voluptas. Reprehenderit voluptatibus itaque ipsam officiis tempore soluta?
    </p>
  </div>
  <div class="section">
    <h1 class="section-title">Ipsum</h1>
    <p class="section-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi laborum praesentium consequuntur earum facilis dolores, voluptatem officia alias esse delectus suscipit cupiditate non amet vitae ab adipisci. Rerum, non quas.
      Sapiente adipisci, qui quasi odit ipsam distinctio inventore sint rem ducimus, facilis fugiat provident voluptatibus doloremque, similique excepturi ratione quae tenetur! Nulla, nobis commodi? Aliquid blanditiis facilis quia itaque perferendis!
      Reprehenderit consequuntur qui, esse illo consequatur sint? Amet voluptas labore incidunt, blanditiis vero a fugiat placeat ad. Nihil repellat ipsa eveniet culpa ea iure odio sint placeat nulla, dolores maiores?
      Aliquid cupiditate, molestias sit minus architecto quos ipsa beatae exercitationem, tempore assumenda, recusandae necessitatibus a rerum voluptas dolorem ipsum quod. Ipsum saepe quis necessitatibus pariatur? Quo dolorum atque facere eaque.
      Ut aperiam totam deleniti est sapiente officiis tempora optio, accusantium quis porro voluptatum repellat quae a facilis quas minima nostrum ab. Ducimus unde repellendus id nostrum numquam? Ad, dolorum consectetur!
    </p>
  </div>
</div>
{% endblock content %}