nav {
    padding: 1.5em 0 1.5em 10%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;

    .hamburger {
        display: none;

        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            transition: all 0.4s ease-in-out;
            background-color: white;
        }
    }

    .nav__links {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    li {
        padding: 0 20px;
    }

    a {
        font-size: 16px;
        text-decoration: none;
        color: white;
        padding: 0.5em 2em;
        transition: all 0.4s ease-in-out 0s;
    }
    
    a:hover {
        color: red;
    }

    #logo {
        color: white;
        cursor: pointer;
    }

    .nav-link-booking {
        border-radius: 25px;
        background-color: rgba(255, 0, 0, 1);
        transition: all 0.4s ease-in-out 0s;
    }
    
    .nav-link-booking:hover {
        color: white;
        background-color: rgba(255, 0, 0, 0.8);
    }

    @media only screen and (max-width: 768px) {
        .nav__links {
            position: fixed;
            left: -100%;
            top: 3rem;
            flex-direction: column;
            background-color: black;
            width: 100%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            text-align: center;
            transition: 0.4s;
            overflow: hidden; //hides link padding overflow
        }
    
        .nav__links.is__active {
            left: 0;
        }
    
        li {
            margin: 1.5rem 0;
        }
        
        a {
            padding: 1.5rem 100vh;
            background-color: transparent;
        }

        .nav-link-booking {
            background-color: transparent;
        }

        .nav-link-booking:hover {
            background-color: transparent;
            color: red;
        }
    
        .hamburger {
            display: block;
            cursor: pointer;
        }

        .hamburger.is__active .bar:nth-child(2) {
            opacity: 0;
        }
    
        .hamburger.is__active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
    
        .hamburger.is__active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    
    }
}