@use "./components/navbar.scss";
@use "./components/_slideshow.scss";
@use "./layouts/gallery.scss";
@use "./layouts/_home.scss";
@use "./layouts/_booking.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    margin: 0px;
}