<div class="nav-container">
    <nav class = "topnav">
        <h1 onclick="window.location.href='/'" id = "logo">LOGO</h1>
        <div class = "hamburger" id = "mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class = "nav__links">
            <li class = "nav__link">
                <a href="/">Otthon</a>
            </li>
            <li class = "nav__link">
                <a href="{% url 'gallery' %}">Galéria</a>
            </li>
            <li class = "nav__link">
                <a href="{% url 'contact' %}">Elérhetőség</a>
            </li>
            <li class = "nav__link">
                <a href="{% url 'booking' %}" class = "nav-link-booking">Foglalás</a>
            </li>
        </ul>
    </nav>
</div>