{% load static %}
<div class="slideshow-container">
    <div class="slides fade">
        <img class = "img-slide img-clicked" src="{% static 'images/test2.png' %}" alt="Galéria">
        <div class="text">Test1</div>
    </div>

    <div class="slides fade">
        <img class = "img-slide img-clicked"  src="{% static 'images/test1.jpg' %}" alt="Lépcső">
        <div class="text">Test2</div>
    </div>

    <div class="slides fade">
        <img class = "img-slide img-clicked"  src="{% static 'images/test3.png' %}" alt="Fürdőszoba">
        <div class="text">Test3</div>
    </div>

    <a class="prev" id = "previous-slide">&#10094;</a>
    <a class="next" id = "next-slide">&#10095;</a>

    <div class="bar-container">
        <span class="slide-bar"></span>
        <span class="slide-bar"></span>
        <span class="slide-bar"></span>
    </div>
</div>
<script src="{% static 'javascript/modules/slideshow.js' %}?{% now ' u'='' %}"></script>
<script src="{% static 'javascript/modules/image_clicked.js' %}?{% now ' u'='' %}"></script>